# Import Modules

In [1]:
import os
print(os.getcwd())
import sys

import pickle

import pandas as pd

# #########################################################
from misc_modules.pandas_methods import drop_columns

/home/raulf2012/Dropbox/01_norskov/00_git_repos/PROJ_IrOx_OER/workflow/process_bulk_dft

# Read Data

In [2]:
# #########################################################
path_i = os.path.join(
    os.environ["PROJ_DATA"],
    "PROJ_IrOx_OER/active_learning_proj_data",
    "df_dft_final_no_dupl.pickle")
with open(path_i, "rb") as fle:
    df_dft = pickle.load(fle)

# #########################################################
path_i = os.path.join("out_data", "atoms_dict.pickle")
with open(path_i, "rb") as fle:
    atoms_dict = pickle.load(fle)

# #########################################################
dir_i = os.path.join(
    os.environ["PROJ_irox_oer"],
    "workflow/process_bulk_dft/standardize_bulks", "out_data")
file_name_i = os.path.join(dir_i, "df_dft_stan.pickle")
with open(file_name_i, "rb") as fle:
    df_dft_stan = pickle.load(fle)

In [3]:
# #####################################################
df_dft = drop_columns(
    df=df_dft,
    columns=["atoms", "form_e_chris", "id_old", "path", "id", "source", "energy", ],
    keep_or_drop="drop")

df_dft = df_dft.sort_values("dH")

Create new atoms column from `atoms_dict`

In [4]:
df_dft["atoms"] = df_dft.index.map(atoms_dict)

In [5]:
# df_dft.drop(columns=["num_atoms", "", ])

In [6]:
# df_dft_stan

# list(pd.concat([
#     df_dft,
#     df_dft_stan,
#     ], axis=1).columns)

df_dft = pd.concat([
    # df_dft,
    df_dft.drop(columns=["num_atoms", ]),
    df_dft_stan,
    ], axis=1)

# pd.concat?

In [7]:
from misc_modules.pandas_methods import reorder_df_columns

df_dft = reorder_df_columns(
    [
        "id_unique", "stoich", "energy_pa", "dH", "volume", "volume_pa",
        "num_atoms", "num_atoms_stan", "num_atoms_stan_prim", "num_atoms_red__stan", "num_atoms_red__stan_prim",
        "atoms", "atoms_stan", "atoms_stan_prim",
        ],
    df_dft,
    )

In [10]:
df_dft = df_dft.rename(columns={
    "num_atoms": "na",
    "num_atoms_stan_prim": "na_stan_prim",
    "num_atoms_stan": "na_stan",
    "num_atoms_red__stan": "na_red__stan",
    "num_atoms_red__stan_prim": "na_red__stan_prim",
    })

df_dft.head()

,id_unique,stoich,energy_pa,dH,volume,volume_pa,na,na_stan,na_stan_prim,na_red__stan,na_red__stan_prim,atoms,atoms_stan,atoms_stan_prim
id_unique,,,,,,,,,,,,,,
64cg6j9any,64cg6j9any,AB2,-7.047516,-0.838375,262.779845,10.949160,24,12,6,12,18,"(Atom('O', [4.43912, 4.78444, 3.20932], index=...","(Atom('O', [0.0, 0.0, 0.0], magmom=0.0, index=...","(Atom('O', [0.0, 0.0, 0.0], magmom=0.0, index=..."
n36axdbw65,n36axdbw65,AB2,-7.010873,-0.801733,392.626212,10.906284,36,36,36,0,0,"(Atom('O', [1.29443, 3.4982, 8.37891], index=0...","(Atom('O', [0.0, 0.0, 0.0], magmom=0.0, index=...","(Atom('O', [0.0, 0.0, 0.0], magmom=0.0, index=..."
clc2b1mavs,clc2b1mavs,AB2,-6.994516,-0.785375,274.195951,11.424831,24,24,24,0,0,"(Atom('Ir', [13.02343, 0.79711, 4.37893], inde...","(Atom('Ir', [0.0, 0.0, 0.0], magmom=0.0, index...","(Atom('Ir', [0.0, 0.0, 0.0], magmom=0.0, index..."
ck638t75z3,ck638t75z3,AB2,-6.985392,-0.776251,195.582681,10.865705,18,18,18,0,0,"(Atom('O', [0.56398, 3.10384, 1.42509], index=...","(Atom('O', [0.0, 0.0, 0.0], magmom=0.0, index=...","(Atom('O', [0.0, 0.0, 0.0], magmom=0.0, index=..."
mkbj6e6e9p,mkbj6e6e9p,AB2,-6.962611,-0.753471,399.033727,11.084270,36,36,36,0,0,"(Atom('O', [8.12243, 2.19605, 3.08353], index=...","(Atom('O', [0.0, 0.0, 0.0], magmom=0.0, index=...","(Atom('O', [0.0, 0.0, 0.0], magmom=0.0, index=..."

In [11]:
# assert False

In [12]:
# Pickling data ###########################################
import os; import pickle
directory = "out_data"
if not os.path.exists(directory): os.makedirs(directory)
with open(os.path.join(directory, "df_dft.pickle"), "wb") as fle:
    pickle.dump(df_dft, fle)
# #########################################################

In [ ]:
# # #####################################################
# path_i = os.path.join(
#     os.environ["PROJ_irox_oer"],
#     "workflow/process_bulk_dft",
#     "out_data/df_dft.pickle")
# with open(path_i, "rb") as fle:
#     df_dft = pickle.load(fle)