### Import Modules

In [1]:
import os
print(os.getcwd())
import sys

import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option('display.max_rows', None)
# pd.options.display.max_colwidth = 100

# #########################################################
from methods import (
    get_df_jobs,
    get_df_jobs_anal,
    get_df_jobs_data,

    get_df_slab,
    )

/mnt/f/Dropbox/01_norskov/00_git_repos/PROJ_IrOx_OER/sandbox

In [2]:
from methods import get_other_job_ids_in_set

### Read Data

In [3]:
df_jobs = get_df_jobs()
df_jobs_anal = get_df_jobs_anal()
df_jobs_data = get_df_jobs_data()

df_slab = get_df_slab()

In [4]:
df_slab_i = df_slab[df_slab.phase == 2]

slab_ids = df_slab_i.index.tolist()

In [5]:
df_jobs_i = df_jobs[
    df_jobs.slab_id.isin(slab_ids)
    ]

df_jobs_anal_i = df_jobs_anal[
    df_jobs_anal.index.to_frame().slab_id.isin(slab_ids)
    ]

In [6]:
df_index = df_jobs_anal_i.index.to_frame()

df_jobs_anal_o = df_jobs_anal_i.loc[
    df_index[df_index.ads == "o"].index
    ]

df_jobs_anal_o_i = df_jobs_anal_o[df_jobs_anal_o.job_completely_done == False]

indices_to_keep = []
for index_i, row_i in df_jobs_anal_o_i.iterrows():
    decision_i = row_i.decision

    if "PENDING" not in decision_i and "RUNNING" not in decision_i:
        indices_to_keep.append(index_i)

df_jobs_anal_o_i.loc[
    indices_to_keep
    ]

                                               job_id_max timed_out  \
compenv  slab_id     ads active_site att_num
sherlock lenabefe_62 o   49.0        1        sufakitu_01      None
slac     dabipilo_28 o   59.0        1        mefohano_91      None
         vomelawi_63 o   63.0        1        nopawapa_53      None

                                              completed brmix_issue  \
compenv  slab_id     ads active_site att_num
sherlock lenabefe_62 o   49.0        1            False        None
slac     dabipilo_28 o   59.0        1            False        None
         vomelawi_63 o   63.0        1            False        None

                                              job_understandable  \
compenv  slab_id     ads active_site att_num
sherlock lenabefe_62 o   49.0        1                     False
slac     dabipilo_28 o   59.0        1                     False
         vomelawi_63 o   63.0        1                     False

                                                                   decision  \
compenv  slab_id     ads active_site att_num
sherlock lenabefe_62 o   49.0        1        [nothing, not understandable]
slac     dabipilo_28 o   59.0        1        [nothing, not understandable]
         vomelawi_63 o   63.0        1        [nothing, not understandable]

                                             dft_params_new  \
compenv  slab_id     ads active_site att_num
sherlock lenabefe_62 o   49.0        1                   {}
slac     dabipilo_28 o   59.0        1                   {}
         vomelawi_63 o   63.0        1                   {}

                                              job_completely_done
compenv  slab_id     ads active_site att_num
sherlock lenabefe_62 o   49.0        1                      False
slac     dabipilo_28 o   59.0        1                      False
         vomelawi_63 o   63.0        1                      False

In [11]:
# assert False

In [13]:
name_i = ('sherlock', 'begefabi_44', 'o', 'NaN', 1)

df_jobs_anal_o_i = df_jobs_anal_o.loc[[name_i]]
# df_jobs_anal_o_i = df_jobs_anal_o

for index_i, row_i in df_jobs_anal_o_i.iterrows():
    # #####################################################
    compenv_i, slab_id_i, ads_i, active_site_i, att_num_i = index_i
    # #####################################################
    job_id_max_i = row_i.job_id_max
    # #####################################################


    df_jobs_oer = get_other_job_ids_in_set(
        job_id_max_i,
        df_jobs=df_jobs,
        oer_set=True,
        )

    bare_present = "bare" in df_jobs_oer.ads.unique()

    if not bare_present:
        print(index_i)

('sherlock', 'begefabi_44', 'o', 'NaN', 1)

In [14]:
df_jobs_oer

,bulk_id,slab_id,job_id,facet,compenv,ads,active_site,att_num,rev_num,compenv_origin,submitted,num_revs
job_id,,,,,,,,,,,,
ludusuka_09,bpc2nk6qz1,begefabi_44,ludusuka_09,111,sherlock,o,NaN,1,1,wsl,True,2
ludusuka_09,bpc2nk6qz1,begefabi_44,ludusuka_09,111,sherlock,o,NaN,1,1,wsl,True,2
bedafoho_09,bpc2nk6qz1,begefabi_44,bedafoho_09,111,sherlock,o,NaN,1,2,wsl,True,2
bedafoho_09,bpc2nk6qz1,begefabi_44,bedafoho_09,111,sherlock,o,NaN,1,2,wsl,True,2

In [ ]:
assert False

In [ ]:
print(
    "Number of job sets total:",
    df_jobs_anal_i.shape[0],
    )

print(
    "Number of completed job sets:",
    df_jobs_anal_i[df_jobs_anal_i.job_completely_done == True].shape[0]
    )

In [ ]:
df_jobs_anal_i[df_jobs_anal_i.job_completely_done == False]

In [ ]:
assert False

In [ ]:
# Number of job sets total: 253
# Number of completed job sets: 223

# Number of job sets total: 223
# Number of completed job sets: 124

# Number of job sets total: 223
# Number of completed job sets: 120

In [ ]:
df_index_i = df_jobs_anal_i.index.to_frame()

df_index_bare_i = df_index_i[df_index_i.ads == "bare"]

In [ ]:
print(
    "Number of bare calculations, this will be the number of new data points:",
    "\n",
    df_index_bare_i.shape[0],
    sep="")

In [ ]:
for name_i, row_i in df_index_bare_i.iterrows():
    compenv_i, slab_id_i, ads_i, active_site_i, att_num_i = name_i




    idx = pd.IndexSlice
    df_ind_0 = df_index_i.loc[idx[compenv_i, slab_id_i, :, active_site_i, :], :]

    idx = pd.IndexSlice
    df_ind_1 = df_index_i.loc[idx[compenv_i, slab_id_i, "o", "NaN", :], :]

    df_ind = pd.concat([df_ind_0, df_ind_1])

    df_jobs_anal_tmp = df_jobs_anal_i.loc[
        df_ind.index
        ]

    df_jobs_anal_tmp = df_jobs_anal_tmp.drop(
        columns=["timed_out", "completed", "brmix_issue", "dft_params_new", ])


    idx = pd.IndexSlice
    df_bare_i = df_jobs_anal_tmp.loc[idx[:, :, "bare", :, :], :]

    if True not in df_bare_i.job_completely_done.tolist():
        from IPython.display import display
        print(40 * "*")
        display(
            df_jobs_anal_tmp
            )
        print("")
        print("")

In [ ]:
df_jobs_anal_tmp

In [ ]:
# idx = pd.IndexSlice
# df_bare_i = df_jobs_anal_tmp.loc[idx[:, :, "bare", :, :], :]

# if True not in df_bare_i.job_completely_done.tolist():
#     print("IDJIFDI")

In [ ]:
df_jobs_anal[df_jobs_anal.job_id_max == "bitakito_28"]

In [ ]:
# ['dahuvisi_85', 'peligiti_14', 'fukudiko_66', 'fipipida_61', 'tibunane_36', 'rehurese_36', 'hutepimu_57', 'bitakito_28']

In [ ]:
# df_index_bare_i