# Import Modules

In [1]:
import os
print(os.getcwd())
import sys

# #########################################################
from methods import (
    get_df_jobs,
    get_df_jobs_data,
    get_df_jobs_anal,
    get_df_jobs_paths,
    )

# #########################################################

/home/raulf2012/Dropbox/01_norskov/00_git_repos/PROJ_IrOx_OER/workflow/__misc__/analysis_for_jens

# Script Inputs

In [ ]:
# /nfs/slac/g/suncatfs/flores12/PROJ_IrOx_OER/dft_workflow/run_slabs/run_bare_oh_covered/out_data/dft_jobs/b5cgvsb16w/111/bare/active_site__67/01_attempt/_01

# Read Data

In [2]:
df_jobs = get_df_jobs()
df_jobs_data = get_df_jobs_data()
df_jobs_anal = get_df_jobs_anal()
df_jobs_paths = get_df_jobs_paths()

In [4]:
df_jobs[df_jobs.ads == "bare"]

,bulk_id,slab_id,job_id,facet,compenv,ads,num_revs,att_num,rev_num,path_job_root,path_short
job_id,,,,,,,,,,,
bopimusi_43,81meck64ba,fagumoha_68,bopimusi_43,110,slac,bare,1,1,1,dft_workflow/run_slabs/run_bare_oh_covered/out...,81meck64ba/110/bare/active_site__62/01_attempt...