# Identifying job sets that have not progressed and cancel them
---

# Import Modules

In [1]:
import os
print(os.getcwd())
import sys

import pandas as pd

from methods import (
    get_df_jobs,
    get_df_jobs_data,
    get_df_jobs_anal,
    )

/home/raulf2012/Dropbox/01_norskov/00_git_repos/PROJ_IrOx_OER/dft_workflow/job_analysis/id_resource_waste

# Read Data

In [2]:
df_jobs = get_df_jobs()

df_jobs_data = get_df_jobs_data()

df_jobs_anal = get_df_jobs_anal()

In [3]:
# Removing systems that were marked to be ignored
from methods import get_systems_to_stop_run_indices

indices_to_stop_running = get_systems_to_stop_run_indices(df_jobs_anal=df_jobs_anal)

# df_jobs_anal = df_jobs_anal.drop(index=indices_to_stop_running)
# df_resubmit = df_jobs_anal

# Main Loop

In [4]:
from misc_modules.pandas_methods import drop_columns

# print(list(df_jobs_anal.columns))

# ['job_id_max', 'timed_out', 'completed', 'brmix_issue', 'job_understandable', 'decision', 'dft_params_new', 'job_completely_done']
cols_to_keep = [
    "job_id_max",
    "job_completely_done",
    ]
df_jobs_anal_i = drop_columns(
    df=df_jobs_anal,
    columns=cols_to_keep,
    keep_or_drop="keep",
    )

In [5]:
# assert False

In [6]:
index_keys = list(df_jobs_anal_i.index.names)

# #########################################################
data_dict_list = []
# #########################################################
for index_i, row_i in df_jobs_anal_i.iterrows():
    # #####################################################
    data_dict_i = dict()
    # #####################################################
    compenv_i, slab_id_i, ads_i, active_site_i, att_num_i = index_i
    # #####################################################
    job_completely_done_i = df_jobs_anal.job_completely_done
    # #####################################################


    index_dict_i = dict(zip(index_keys, index_i))

    df = df_jobs
    df = df[
        (df["compenv"] == compenv_i) &
        (df["slab_id"] == slab_id_i) &
        (df["ads"] == ads_i) &
        (df["active_site"] == active_site_i) &
        (df["att_num"] == att_num_i) &
        [True for i in range(len(df))]
        ]
    df_jobs_i = df

    num_revs_i = df_jobs_i.shape[0]

    # #####################################################
    data_dict_i.update(index_dict_i)
    data_dict_i.update(row_i.to_dict())
    # #####################################################
    data_dict_i["num_revs"] = num_revs_i
    # #####################################################
    data_dict_list.append(data_dict_i)
    # #####################################################

# #########################################################
df = pd.DataFrame(data_dict_list)
df = df.sort_values("num_revs", ascending=False)
df = df.set_index([
    "compenv", "slab_id", "ads", "active_site", "att_num", 
    ], drop=False)
df = df.drop(labels=indices_to_stop_running)
# #########################################################

df.iloc[0:2]

                                            compenv      slab_id ads  \
compenv slab_id     ads active_site att_num
slac    fagumoha_68 oh  62.0        0          slac  fagumoha_68  oh
        kalisule_45 oh  73.0        3          slac  kalisule_45  oh

                                            active_site  att_num   job_id_max  \
compenv slab_id     ads active_site att_num
slac    fagumoha_68 oh  62.0        0                62        0  niduvupu_51
        kalisule_45 oh  73.0        3                73        3  pemolume_54

                                             job_completely_done  num_revs
compenv slab_id     ads active_site att_num
slac    fagumoha_68 oh  62.0        0                       True        11
        kalisule_45 oh  73.0        3                       True        10

In [13]:
df_i = df[df.job_completely_done == False]
df_i = df_i[df_i.num_revs > 3]

df_i

                                               compenv      slab_id ads  \
compenv  slab_id     ads active_site att_num
slac     hibetede_02 o   NaN         1            slac  hibetede_02   o
sherlock nevupeto_41 oh  64.0        2        sherlock  nevupeto_41  oh
slac     fevahaso_90 oh  28.0        2            slac  fevahaso_90  oh
         hobukuno_29 o   NaN         1            slac  hobukuno_29   o

                                             active_site  att_num  \
compenv  slab_id     ads active_site att_num
slac     hibetede_02 o   NaN         1               NaN        1
sherlock nevupeto_41 oh  64.0        2                64        2
slac     fevahaso_90 oh  28.0        2                28        2
         hobukuno_29 o   NaN         1               NaN        1

                                               job_id_max  \
compenv  slab_id     ads active_site att_num
slac     hibetede_02 o   NaN         1        fifikuwu_79
sherlock nevupeto_41 oh  64.0        2        dahivivo_43
slac     fevahaso_90 oh  28.0        2        bikalunu_39
         hobukuno_29 o   NaN         1        nagamaga_03

                                              job_completely_done  num_revs
compenv  slab_id     ads active_site att_num
slac     hibetede_02 o   NaN         1                      False         9
sherlock nevupeto_41 oh  64.0        2                      False         9
slac     fevahaso_90 oh  28.0        2                      False         6
         hobukuno_29 o   NaN         1                      False         4

In [10]:
# keys = list(df_jobs_anal.index.names)
# index_dict_i = dict(zip(keys, index_i))

In [11]:
# index_dict_i

In [12]:
# data_dict_i

In [ ]:
# df_jobs_anal.loc[
#     ('sherlock', 'tofiwadi_49', 'oh', 47.0, 1)
#     ]

In [7]:
# indices_to_stop_running[0:2]